* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: serif;
}

html {
  font-size: 100%;
}

body {
  background: #F5F5F5;
}

a {
  text-decoration: none;
  color: #212830;
}

h2, h3, h4 {
  font-size: 1.15rem;
  padding: 0.6rem 0px;
  -webkit-transition: 1300ms ease-in;
  transition: 1300ms ease-in;
}

h3 {
  margin-top: 1rem;
}

section {
  background: #F5F5F5;
}

.fade-in {
  opacity: 0;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

.fade-in.appear {
  opacity: 1;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.flashes {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  font-size: 1rem;
  text-align: center;
}

.flash-error {
  padding: 0px 5px;
  background: #ffe6e6;
  color: red;
}

nav.pc-nav {
  position: fixed;
  top: 0;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #103E6C;
  z-index: 997;
  width: 100%;
  border-bottom: 1px solid #F5F5F5;
}

@media (max-width: 63.9375em) {
  nav.pc-nav {
    display: none;
  }
}

nav.pc-nav .navbar-logo {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
  width: 100%;
  background: #103E6C;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  opacity: 0;
  -webkit-transition: 1000ms ease-in-out;
  transition: 1000ms ease-in-out;
}

nav.pc-nav .navbar-logo .logo-over-polygon {
  position: absolute;
  background: #103E6C;
  height: 3rem;
  width: 6rem;
  z-index: 998;
  top: 0;
}

nav.pc-nav .navbar-logo .logo-border-polygon {
  position: absolute;
  margin-top: 5px;
  height: 6vh;
  width: 15vw;
  border: 2px solid #F5F5F5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav.pc-nav .navbar-logo .logo-text {
  text-align: center;
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 1.5rem;
  margin-top: -5px;
}

nav.pc-nav .navbar-logo .logo-text h1 {
  font-size: 2rem;
  color: #FCF214;
  font-weight: normal;
}

nav.pc-nav .navbar-logo .logo-text h2 {
  font-size: 1.2rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  color: #F5F5F5;
  font-weight: normal;
}

@media (min-width: 64em) {
  nav.pc-nav .navbar-logo .logo-text h2 {
    padding: 0.4rem 0px;
  }
}

nav.pc-nav ul.links {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav.pc-nav ul.links li {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  list-style: none;
  opacity: 0;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

nav.pc-nav ul.links li a {
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #F5F5F5;
  position: relative;
}

@media (min-width: 87.5em) {
  nav.pc-nav ul.links li a {
    font-size: 1.3rem;
  }
}

nav.pc-nav ul.links li a::after {
  content: "";
  position: absolute;
  background: #F5F5F5;
  bottom: 0;
  right: 0;
  height: 0.1rem;
  width: 0%;
  -webkit-transition: 250ms ease-in;
  transition: 250ms ease-in;
}

nav.pc-nav ul.links li a:hover::after {
  width: 100%;
  left: 0;
}

.background-navbar-blur {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 90vh;
  margin-top: 10vh;
  background: #F5F5F5;
  -webkit-transform: translateY(-200%);
          transform: translateY(-200%);
  opacity: 0;
  -webkit-transition: 1000ms ease-out;
  transition: 1000ms ease-out;
}

.background-navbar-blur.active {
  z-index: 1000;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  opacity: 0.9;
  -webkit-transition: 300ms ease-in;
  transition: 300ms ease-in;
}

nav.mobile-nav {
  position: fixed;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #103E6C;
  z-index: 1001;
  width: 100%;
  border-bottom: 1px solid #F5F5F5;
}

@media (min-width: 64em) {
  nav.mobile-nav {
    display: none;
  }
}

nav.mobile-nav .navbar-logo {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
  width: 100%;
  background: #103E6C;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  opacity: 0;
  -webkit-transition: 1000ms ease-in-out;
  transition: 1000ms ease-in-out;
}

nav.mobile-nav .navbar-logo .logo-over-polygon {
  position: absolute;
  background: #103E6C;
  height: 2rem;
  width: 4rem;
  z-index: 998;
  top: 0;
}

@media (min-width: 32.5em) {
  nav.mobile-nav .navbar-logo .logo-over-polygon {
    height: 3rem;
    width: 5rem;
  }
}

nav.mobile-nav .navbar-logo .logo-border-polygon {
  position: absolute;
  margin-top: 0.7rem;
  height: 2.5rem;
  width: 9rem;
  border: 2px solid #F5F5F5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 32.5em) {
  nav.mobile-nav .navbar-logo .logo-border-polygon {
    height: 3rem;
    width: 12rem;
  }
}

nav.mobile-nav .navbar-logo .logo-text {
  text-align: center;
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 1.5rem;
}

@media (min-width: 32.5em) {
  nav.mobile-nav .navbar-logo .logo-text {
    line-height: 2rem;
  }
}

nav.mobile-nav .navbar-logo .logo-text h1 {
  font-size: 1.8rem;
  color: #FCF214;
  font-weight: normal;
}

@media (min-width: 32.5em) {
  nav.mobile-nav .navbar-logo .logo-text h1 {
    font-size: 2.1rem;
  }
}

nav.mobile-nav .navbar-logo .logo-text h2 {
  font-size: 1rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  color: #F5F5F5;
  font-weight: normal;
  padding: 0px;
}

@media (min-width: 32.5em) {
  nav.mobile-nav .navbar-logo .logo-text h2 {
    font-size: 1.2rem;
  }
}

nav.mobile-nav .burger-menu-container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: #103E6C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav.mobile-nav .burger-menu-container .navbar-toggle#mobile-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  height: 8vh;
  width: 10%;
  margin-right: 2rem;
}

nav.mobile-nav .burger-menu-container .navbar-toggle#mobile-menu span.bar {
  height: 4px;
  width: 30px;
  background-color: white;
  z-index: 1000;
  -webkit-transition-duration: 400ms;
          transition-duration: 400ms;
}

nav.mobile-nav .burger-menu-container .navbar-toggle#mobile-menu span.bar.close#top {
  -webkit-transform: skewY(45deg) translateY(2.1vh);
          transform: skewY(45deg) translateY(2.1vh);
  -webkit-transition-timing-function: cubic-bezier(0.68, 0, 0.33, 0.97);
          transition-timing-function: cubic-bezier(0.68, 0, 0.33, 0.97);
  height: 6px;
}

nav.mobile-nav .burger-menu-container .navbar-toggle#mobile-menu span.bar.close#mid {
  opacity: 0;
}

nav.mobile-nav .burger-menu-container .navbar-toggle#mobile-menu span.bar.close#bot {
  -webkit-transform: skewY(-45deg) translateY(-2.1vh);
          transform: skewY(-45deg) translateY(-2.1vh);
  -webkit-transition-timing-function: cubic-bezier(0.68, 0, 0.33, 0.97);
          transition-timing-function: cubic-bezier(0.68, 0, 0.33, 0.97);
  height: 6px;
}

nav.mobile-nav .mobile-nav-links {
  position: absolute;
  height: 50vh;
  width: 50vw;
  background: #103E6C;
  border: 2px solid white;
  left: 25vw;
  -webkit-transform: translateY(-110%);
          transform: translateY(-110%);
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
  -webkit-transition-timing-function: cubic-bezier(0.68, 0, 0.33, 0.97);
          transition-timing-function: cubic-bezier(0.68, 0, 0.33, 0.97);
  z-index: 1001;
}

nav.mobile-nav .mobile-nav-links ul.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 0% 5%;
  list-style: none;
  height: 100%;
}

nav.mobile-nav .mobile-nav-links ul.links li {
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  list-style: none;
}

nav.mobile-nav .mobile-nav-links ul.links li a {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: normal;
  color: #F5F5F5;
  text-transform: uppercase;
  color: white;
}

nav.mobile-nav .mobile-nav-links.mobile-nav-active {
  -webkit-transform: translateY(10vh);
          transform: translateY(10vh);
}

main {
  padding-top: 10vh;
}

main section#main-page {
  padding-top: 0px;
  height: 90vh;
}

main section#main-page .hero {
  height: 70%;
}

main section#main-page .hero .hero-intro {
  height: 100%;
  position: relative;
}

@media (max-width: 32.4375em) {
  main section#main-page .hero .hero-intro {
    height: 90%;
  }
}

main section#main-page .hero .hero-intro .main-picture-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

main section#main-page .hero .hero-intro .main-picture-container .img-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

main section#main-page .hero .hero-intro .main-picture-container .img-wrapper .img-slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

main section#main-page .hero .hero-intro .main-picture-container .img-wrapper .img-slider .img-slider-container {
  position: relative;
  width: 100%;
  height: 100%;
  background: black;
}

main section#main-page .hero .hero-intro .main-picture-container .img-wrapper .img-slider .img-slider-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

main section#main-page .hero .hero-intro .main-picture-container .img-wrapper .img-overlay-polygon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(66, 66, 66, 0.5);
}

main section#main-page .hero .hero-intro .sticker-container {
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  left: 50%;
  top: 40%;
  margin-left: -130px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 1rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 990;
}

@media (min-width: 32.5em) {
  main section#main-page .hero .hero-intro .sticker-container {
    margin-left: -143px;
  }
}

@media (min-width: 46.25em) {
  main section#main-page .hero .hero-intro .sticker-container {
    margin-left: -155px;
  }
}

@media (min-width: 64em) {
  main section#main-page .hero .hero-intro .sticker-container {
    margin-left: -206px;
  }
}

main section#main-page .hero .hero-intro .sticker-container .sticker-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main section#main-page .hero .hero-intro .sticker-container .sticker-text h1 {
  color: white;
  text-shadow: 1px 1px black;
  font-weight: 900;
  font-size: 1.8rem;
  text-align: center;
  opacity: 0;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

@media (min-width: 32.5em) {
  main section#main-page .hero .hero-intro .sticker-container .sticker-text h1 {
    font-size: 2rem;
  }
}

@media (min-width: 46.25em) {
  main section#main-page .hero .hero-intro .sticker-container .sticker-text h1 {
    font-size: 2.2rem;
  }
}

@media (min-width: 64em) {
  main section#main-page .hero .hero-intro .sticker-container .sticker-text h1 {
    font-size: 3rem;
  }
}

main section#main-page .hero .hero-intro .sticker-container .sticker-text h2 {
  color: white;
  text-shadow: 1px 1px black;
  font-size: 1.5rem;
  padding: 0;
  font-weight: 800;
  text-align: center;
  opacity: 0;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

@media (min-width: 32.5em) {
  main section#main-page .hero .hero-intro .sticker-container .sticker-text h2 {
    font-size: 1.8rem;
  }
}

@media (min-width: 46.25em) {
  main section#main-page .hero .hero-intro .sticker-container .sticker-text h2 {
    font-size: 2rem;
  }
}

@media (min-width: 64em) {
  main section#main-page .hero .hero-intro .sticker-container .sticker-text h2 {
    font-size: 2.2rem;
  }
}

main section#main-page .hero .hero-intro .sticker-container button.hero-button {
  height: 3rem;
  width: 10rem;
  padding: 0px;
  background: #F5F5F5;
  border: 0;
  margin: 1rem 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  position: relative;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: color 0.25s;
  transition: color 0.25s;
}

@media (max-width: 32.4375em) {
  main section#main-page .hero .hero-intro .sticker-container button.hero-button {
    margin: 0;
    margin-top: 1rem;
  }
}

@media (min-width: 32.5em) {
  main section#main-page .hero .hero-intro .sticker-container button.hero-button {
    height: 3.5rem;
    width: 12rem;
  }
}

@media (min-width: 46.25em) {
  main section#main-page .hero .hero-intro .sticker-container button.hero-button {
    height: 4rem;
    width: 15rem;
  }
}

@media (min-width: 64em) {
  main section#main-page .hero .hero-intro .sticker-container button.hero-button {
    height: 3.5rem;
    width: 12rem;
  }
}

main section#main-page .hero .hero-intro .sticker-container button.hero-button span {
  position: absolute;
}

main section#main-page .hero .hero-intro .sticker-container button.hero-button span.top-border {
  top: 0;
  left: 0;
  width: 0;
  height: 5px;
  background-color: #FCF214;
  -webkit-transition: 1500ms ease-in-out;
  transition: 1500ms ease-in-out;
}

main section#main-page .hero .hero-intro .sticker-container button.hero-button span.top-border.left-right {
  width: 100%;
}

main section#main-page .hero .hero-intro .sticker-container button.hero-button span.top-border.reverse {
  width: 0;
  right: 0;
  left: auto;
}

main section#main-page .hero .hero-intro .sticker-container button.hero-button span.right-border {
  top: 0;
  right: 0;
  width: 5px;
  height: 0;
  background-color: #FCF214;
  -webkit-transition: 1500ms ease-in-out;
  transition: 1500ms ease-in-out;
}

main section#main-page .hero .hero-intro .sticker-container button.hero-button span.right-border.up-down {
  height: 100%;
}

main section#main-page .hero .hero-intro .sticker-container button.hero-button span.right-border.reverse {
  height: 0;
  bottom: 0;
  top: auto;
}

main section#main-page .hero .hero-intro .sticker-container button.hero-button span.bottom-border {
  bottom: 0;
  right: 0;
  width: 0;
  height: 5px;
  background-color: #FCF214;
  -webkit-transition: 1500ms ease-in-out;
  transition: 1500ms ease-in-out;
}

main section#main-page .hero .hero-intro .sticker-container button.hero-button span.bottom-border.right-left {
  width: 100%;
}

main section#main-page .hero .hero-intro .sticker-container button.hero-button span.bottom-border.reverse {
  width: 0;
  left: 0;
  right: auto;
}

main section#main-page .hero .hero-intro .sticker-container button.hero-button span.left-border {
  bottom: 0;
  left: 0;
  width: 5px;
  height: 0;
  background-color: #FCF214;
  -webkit-transition: 1500ms ease-in-out;
  transition: 1500ms ease-in-out;
}

main section#main-page .hero .hero-intro .sticker-container button.hero-button span.left-border.down-up {
  height: 100%;
}

main section#main-page .hero .hero-intro .sticker-container button.hero-button span.left-border.reverse {
  height: 0;
  top: 0;
  bottom: auto;
}

main section#main-page .hero .hero-intro .sticker-container button.hero-button:hover::after {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  width: 100%;
  height: 100%;
  border: 10px solid #FCF214;
  background: #FCF214;
  opacity: 0.3;
  -webkit-filter: blur(1.5rem);
          filter: blur(1.5rem);
  z-index: -1;
}

main section#main-page .hero .hero-intro .sticker-container button.hero-button h3 {
  color: #212830;
  font-weight: 700;
  font-size: 1.2rem;
  opacity: 0;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  margin: 0px;
}

@media (min-width: 32.5em) {
  main section#main-page .hero .hero-intro .sticker-container button.hero-button h3 {
    font-size: 1.3rem;
  }
}

@media (min-width: 46.25em) {
  main section#main-page .hero .hero-intro .sticker-container button.hero-button h3 {
    font-size: 1.4rem;
  }
}

@media (min-width: 64em) {
  main section#main-page .hero .hero-intro .sticker-container button.hero-button h3 {
    font-size: 1.5rem;
  }
}

main section#main-page .hero .hero-services-container {
  height: 45%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 32.5em) {
  main section#main-page .hero .hero-services-container {
    height: 60%;
  }
}

main section#main-page .hero .hero-services-container .border-effect-polygon {
  position: relative;
  height: 90%;
  width: 90%;
  margin: 1.5rem auto auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 2px solid #212830;
}

@media (min-width: 32.5em) {
  main section#main-page .hero .hero-services-container .border-effect-polygon {
    height: 55%;
  }
}

@media (min-width: 87.5em) {
  main section#main-page .hero .hero-services-container .border-effect-polygon {
    width: 70%;
    margin: 1.5rem auto auto;
  }
}

main section#main-page .hero .hero-services-container .border-effect-polygon p {
  font-size: 0.8rem;
  padding: 0px 0.5rem;
  text-align: center;
  opacity: 0;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

@media (min-width: 26.5625em) {
  main section#main-page .hero .hero-services-container .border-effect-polygon p {
    font-size: 1rem;
  }
}

@media (min-width: 46.25em) {
  main section#main-page .hero .hero-services-container .border-effect-polygon p {
    font-size: 1.15rem;
  }
}

@media (min-width: 64em) {
  main section#main-page .hero .hero-services-container .border-effect-polygon p {
    font-size: 1.25rem;
  }
}

main section#main-page .hero .hero-services-container .border-effect-polygon .offer-overlay-polygon {
  position: absolute;
  top: -0.8rem;
  height: 1.8rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 0px 2rem;
  background: #F5F5F5;
}

@media (min-width: 26.5625em) {
  main section#main-page .hero .hero-services-container .border-effect-polygon .offer-overlay-polygon {
    top: -1rem;
  }
}

@media (min-width: 46.25em) {
  main section#main-page .hero .hero-services-container .border-effect-polygon .offer-overlay-polygon {
    top: -1.25rem;
  }
}

@media (min-width: 64em) {
  main section#main-page .hero .hero-services-container .border-effect-polygon .offer-overlay-polygon {
    top: -1.4rem;
  }
}

main section#main-page .hero .hero-services-container .border-effect-polygon .offer-overlay-polygon h1 {
  font-size: 1.3rem;
  color: #212830;
  opacity: 0;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

@media (min-width: 26.5625em) {
  main section#main-page .hero .hero-services-container .border-effect-polygon .offer-overlay-polygon h1 {
    font-size: 1.5rem;
  }
}

@media (min-width: 46.25em) {
  main section#main-page .hero .hero-services-container .border-effect-polygon .offer-overlay-polygon h1 {
    font-size: 1.8rem;
  }
}

@media (min-width: 64em) {
  main section#main-page .hero .hero-services-container .border-effect-polygon .offer-overlay-polygon h1 {
    font-size: 2rem;
  }
}

main section#main-page .hero .hero-services-container .border-effect-polygon .border-button-polygon {
  position: absolute;
  bottom: -1.25rem;
  height: 2.2rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 0px 2.5rem;
  background: white;
  -webkit-box-shadow: inset 0 0 0 2px #212830;
          box-shadow: inset 0 0 0 2px #212830;
  cursor: pointer;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: color 0.25s;
  transition: color 0.25s;
}

@media (min-width: 26.5625em) {
  main section#main-page .hero .hero-services-container .border-effect-polygon .border-button-polygon {
    height: 2.5rem;
  }
}

@media (min-width: 46.25em) {
  main section#main-page .hero .hero-services-container .border-effect-polygon .border-button-polygon {
    height: 2.8rem;
  }
}

main section#main-page .hero .hero-services-container .border-effect-polygon .border-button-polygon::before, main section#main-page .hero .hero-services-container .border-effect-polygon .border-button-polygon::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
}

main section#main-page .hero .hero-services-container .border-effect-polygon .border-button-polygon::before, main section#main-page .hero .hero-services-container .border-effect-polygon .border-button-polygon::after {
  border: 2px solid transparent;
  width: 0;
  height: 0;
}

main section#main-page .hero .hero-services-container .border-effect-polygon .border-button-polygon::before {
  top: 0;
  left: 0;
}

main section#main-page .hero .hero-services-container .border-effect-polygon .border-button-polygon::after {
  bottom: 0;
  right: 0;
}

main section#main-page .hero .hero-services-container .border-effect-polygon .border-button-polygon:hover {
  color: #FCF214;
}

main section#main-page .hero .hero-services-container .border-effect-polygon .border-button-polygon:hover::before, main section#main-page .hero .hero-services-container .border-effect-polygon .border-button-polygon:hover::after {
  width: 100%;
  height: 100%;
}

main section#main-page .hero .hero-services-container .border-effect-polygon .border-button-polygon:hover::before {
  border-top-color: #FCF214;
  border-right-color: #FCF214;
  -webkit-transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
  transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
}

main section#main-page .hero .hero-services-container .border-effect-polygon .border-button-polygon:hover::after {
  border-bottom-color: #FCF214;
  border-left-color: #FCF214;
  -webkit-transition: border-color 0s ease-out 0.5s,  width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
  transition: border-color 0s ease-out 0.5s,  width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
}

main section#main-page .hero .hero-services-container .border-effect-polygon .border-button-polygon a.services-button {
  height: 100%;
  width: 100%;
  font-size: 1.2rem;
  justify-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  font-weight: bolder;
}

@media (min-width: 32.5em) {
  main section#main-page .hero .hero-services-container .border-effect-polygon .border-button-polygon a.services-button {
    font-size: 1.4rem;
  }
}

@media (min-width: 46.25em) {
  main section#main-page .hero .hero-services-container .border-effect-polygon .border-button-polygon a.services-button {
    font-size: 1.6rem;
  }
}

@media (min-width: 64em) {
  main section#main-page .hero .hero-services-container .border-effect-polygon .border-button-polygon a.services-button {
    font-size: 1.8rem;
  }
}

main section#services-section {
  min-height: -webkit-max-content;
  min-height: -moz-max-content;
  min-height: max-content;
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

@media (min-width: 32.5em) {
  main section#services-section {
    margin-top: 3rem;
  }
}

@media (min-width: 46.25em) {
  main section#services-section {
    width: 90%;
    margin: auto;
  }
}

@media (min-width: 64em) {
  main section#services-section {
    margin-top: 3rem;
  }
}

main section#services-section .offered-services {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 1rem 0.5rem 0.5rem 0.5rem;
}

main section#services-section .offered-services h1 {
  font-size: 1.8rem;
  padding-bottom: 0.5rem;
}

@media (min-width: 26.5625em) {
  main section#services-section .offered-services h1 {
    font-size: 1.9rem;
  }
}

@media (min-width: 46.25em) {
  main section#services-section .offered-services h1 {
    font-size: 2rem;
  }
}

@media (min-width: 64em) {
  main section#services-section .offered-services h1 {
    font-size: 2.2rem;
  }
}

main section#services-section .offered-services h2, main section#services-section .offered-services h3, main section#services-section .offered-services h4 {
  font-size: 1.15rem;
  padding: 0.6rem 0px;
  -webkit-transition: 1300ms ease-in;
  transition: 1300ms ease-in;
}

@media (min-width: 26.5625em) {
  main section#services-section .offered-services h2, main section#services-section .offered-services h3, main section#services-section .offered-services h4 {
    font-size: 1.3rem;
  }
}

@media (min-width: 46.25em) {
  main section#services-section .offered-services h2, main section#services-section .offered-services h3, main section#services-section .offered-services h4 {
    font-size: 1.5rem;
  }
}

@media (min-width: 64em) {
  main section#services-section .offered-services h2, main section#services-section .offered-services h3, main section#services-section .offered-services h4 {
    font-size: 1.6rem;
  }
}

main section#services-section .offered-services h3 {
  margin-top: 1rem;
}

main section#services-section .offered-services p {
  font-size: 1rem;
}

@media (min-width: 46.25em) {
  main section#services-section .offered-services p {
    font-size: 1.1rem;
  }
}

@media (min-width: 64em) {
  main section#services-section .offered-services p {
    font-size: 1.15rem;
  }
}

main section#services-section .offered-services p span {
  padding: 0.3rem 0px;
  display: block;
}

main section#services-section .offered-services ul.fade-in {
  opacity: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: 600ms ease-in;
  transition: 600ms ease-in;
}

main section#services-section .offered-services ul.fade-in.appear {
  opacity: 1;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  padding-bottom: 2rem;
}

main section#services-section .offered-services .list-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-left: 10%;
}

main section#services-section .offered-services .list-items li {
  list-style: none;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 0.5rem 0px;
}

@media (min-width: 46.25em) {
  main section#services-section .offered-services .list-items li {
    font-size: 1.1rem;
  }
}

@media (min-width: 64em) {
  main section#services-section .offered-services .list-items li {
    font-size: 1.15rem;
  }
}

main section#services-section .offered-services .list-items img {
  margin: 0.5rem 2px;
  height: 25px;
  width: 25px;
}

@media (min-width: 26.5625em) {
  main section#services-section .offered-services .list-items img {
    height: 30px;
    width: 30px;
  }
}

main section#services-section .offered-services .list-items:hover li {
  margin-left: 2.5%;
  -webkit-transition: 250ms ease-in-out;
  transition: 250ms ease-in-out;
}

main section#services-section .offered-services .list-items:hover img {
  -webkit-transform: rotate(-110deg) translateY(15%);
          transform: rotate(-110deg) translateY(15%);
  -webkit-transition: 250ms ease-in-out;
  transition: 250ms ease-in-out;
}

main section#services-section .offered-services ul.fade-in#advantages-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main section#services-section .offered-services ul.fade-in#advantages-list .list-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section#services-section .offered-services ul.fade-in#advantages-list .list-items img {
  height: 40px;
  width: 40px;
}

main section#services-section .offered-services ul.fade-in#advantages-list .list-items:hover li {
  margin-left: 3.5%;
}

main section#services-section .service-ilustration-images {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main section#services-section .service-ilustration-images .faded-image-container {
  width: 100%;
  height: 30vh;
  background: black;
  opacity: 0;
  -webkit-transition: 1200ms ease-in;
  transition: 1200ms ease-in;
}

@media (min-width: 26.5625em) {
  main section#services-section .service-ilustration-images .faded-image-container {
    height: 35vh;
  }
}

@media (min-width: 32.5em) {
  main section#services-section .service-ilustration-images .faded-image-container {
    height: 40vh;
  }
}

@media (min-width: 46.25em) {
  main section#services-section .service-ilustration-images .faded-image-container {
    height: 55vh;
  }
}

@media (min-width: 64em) {
  main section#services-section .service-ilustration-images .faded-image-container {
    height: 65vh;
  }
}

@media (min-width: 87.5em) {
  main section#services-section .service-ilustration-images .faded-image-container {
    height: 65vh;
    width: 80%;
  }
}

main section#services-section .service-ilustration-images .faded-image-container img {
  height: 100%;
  width: 100%;
}

main section#services-section .service-ilustration-images .faded-image-container.appear {
  opacity: 1;
}

main section#prices {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 0px 0.5rem 2rem;
}

@media (min-width: 46.25em) {
  main section#prices {
    width: 90%;
    margin: auto;
  }
}

main section#prices h1 {
  font-size: 1.8rem;
  padding-bottom: 0.5rem;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

main section#prices p {
  padding-bottom: 0.5rem;
}

@media (min-width: 64em) {
  main section#prices p {
    padding-bottom: 1rem;
  }
}

main section#prices table {
  width: 100%;
  border-collapse: collapse;
  padding-top: 5vh;
  border: 1px solid #103E6C;
  justify-self: flex-end;
}

@media (min-width: 64em) {
  main section#prices table {
    width: 65%;
    margin: auto;
  }
}

main section#prices table tr:nth-child(1) {
  background-color: #103E6C !important;
  color: #F5F5F5;
}

main section#prices table tr:nth-child(even) {
  background-color: #eafaff;
  -webkit-transition: 150ms ease;
  transition: 150ms ease;
}

main section#prices table tr:nth-child(even):hover {
  background-color: #ddf7ff;
  font-weight: 550;
}

main section#prices table tr:nth-child(odd) {
  background-color: #ffffeb;
  -webkit-transition: 150ms ease;
  transition: 150ms ease;
}

main section#prices table tr:nth-child(odd):hover {
  background-color: #ffffdd;
  font-weight: bolder;
}

main section#prices table th, main section#prices table td {
  text-align: left;
  padding: 8px 8px 8px 2vw;
}

main section#prices table th.price, main section#prices table td.price {
  text-align: right;
  padding: 8px 2vw 8px 8px;
}

main section#contact-section {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: 90%;
  margin: auto;
  padding-bottom: 2rem;
}

@media (min-width: 46.25em) {
  main section#contact-section {
    width: 90%;
    margin: auto;
  }
}

main section#contact-section .contact-layout {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
      grid-template-areas: "intro intro" "detail detail" "form form";
  padding: 0px 0.5rem;
}

@media (min-width: 46.25em) {
  main section#contact-section .contact-layout {
        grid-template-areas: "intro intro" "form detail" "form detail";
  }
}

main section#contact-section .contact-layout .contact-intro {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: intro;
}

main section#contact-section .contact-layout .contact-intro h1 {
  font-size: 2rem;
  font-weight: 900;
}

main section#contact-section .contact-layout .contact-intro p {
  width: 100%;
  padding-top: 0.5rem;
  font-size: 1rem;
}

main section#contact-section .contact-layout .contact-intro p span {
  padding: 2px 0px;
  display: block;
}

main section#contact-section .contact-layout .contact-details-container {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: detail;
  height: 100%;
  width: 100%;
  background: #F5F5F5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main section#contact-section .contact-layout .contact-details-container .img-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1rem;
}

main section#contact-section .contact-layout .contact-details-container .img-container img {
  height: 12rem;
  width: 10rem;
  border-radius: 50%;
  border: 1px solid #212830;
  background: white;
}

@media (min-width: 26.5625em) {
  main section#contact-section .contact-layout .contact-details-container .img-container img {
    height: 15rem;
    width: 12rem;
  }
}

main section#contact-section .contact-layout .contact-details-container .contact-details {
  height: auto;
}

main section#contact-section .contact-layout .contact-details-container .contact-details p {
  font-size: 0.9rem;
  font-weight: 600;
  padding: 0.5rem;
}

@media (min-width: 26.5625em) {
  main section#contact-section .contact-layout .contact-details-container .contact-details p {
    font-size: 1.1rem;
  }
}

main section#contact-section .contact-layout .contact-details-container .contact-details p.underline {
  border-bottom: 1px solid #212830;
}

main section#contact-section .contact-layout .contact-form-container {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: form;
  height: 100%;
  width: 100%;
  margin-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main section#contact-section .contact-layout .contact-form-container legend {
  padding-top: 1rem;
  font-size: 1.5rem;
  font-weight: bolder;
}

main section#contact-section .contact-layout .contact-form-container form {
  margin-top: 1.5rem;
}

main section#contact-section .contact-layout .contact-form-container form fieldset {
  border: none;
  padding-bottom: 2rem;
}

main section#contact-section .contact-layout .contact-form-container form fieldset .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

main section#contact-section .contact-layout .contact-form-container form fieldset .form-group .form-field-label {
  font-size: 1.1rem;
}

main section#contact-section .contact-layout .contact-form-container form fieldset .form-group .small-form-field {
  width: 17rem;
  height: 1.75rem;
  border: 1px solid #103E6C;
  border-radius: 5px;
}

@media (min-width: 26.5625em) {
  main section#contact-section .contact-layout .contact-form-container form fieldset .form-group .small-form-field {
    width: 22rem;
    height: 2rem;
  }
}

main section#contact-section .contact-layout .contact-form-container form fieldset .form-group .small-form-field:focus {
  outline: none !important;
  border: 2px solid #103E6C;
  background: #faffff;
}

main section#contact-section .contact-layout .contact-form-container form fieldset .form-group .small-form-field.error {
  border: 1px solid red;
}

main section#contact-section .contact-layout .contact-form-container form fieldset .form-group .big-form-field {
  width: 17rem;
  height: 17rem;
  border: 1px solid #103E6C;
  border-radius: 5px;
}

@media (min-width: 26.5625em) {
  main section#contact-section .contact-layout .contact-form-container form fieldset .form-group .big-form-field {
    width: 22rem;
    height: 22rem;
  }
}

main section#contact-section .contact-layout .contact-form-container form fieldset .form-group .big-form-field:focus {
  outline: none !important;
  border: 2px solid #103E6C;
  background: #faffff;
}

main section#contact-section .contact-layout .contact-form-container form fieldset .form-group .big-form-field.error {
  border: 1px solid red;
}

main section#contact-section .contact-layout .contact-form-container form fieldset .form-group .invalid-feedback {
  color: red;
  padding-bottom: 0.5rem;
}

main section#contact-section .contact-layout .contact-form-container form fieldset input.form-btn {
  margin-top: 1rem;
  height: 2rem;
  width: 6.5rem;
  border: 2px solid #103E6C;
  border-radius: 5px;
  background-color: #CCF3FF;
  text-transform: uppercase;
  font-weight: 600;
  color: #212830;
}

main footer {
  height: 40vh;
  padding: 0px 0.5rem;
  background: #CCF3FF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

main footer .footer-border {
  position: absolute;
  top: 0;
  left: 0;
  height: 2vh;
  width: 100%;
  background: #103E6C;
}

main footer .about-owner {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

main footer .about-owner .footer-logo-container {
  display: none;
}

main footer .about-owner ul {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 6vh 3vw 0px 0px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

main footer .about-owner ul li {
  font-size: 0.8rem;
  padding: 5px;
  list-style: none;
}

main footer .about-owner ul li.underline {
  border-bottom: 1px solid black;
}

main footer .footer-navigation {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main footer .footer-navigation .creator-contact {
  -webkit-box-flex: 0.5;
      -ms-flex: 0.5;
          flex: 0.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

main footer .footer-navigation .creator-contact .contact-text {
  margin: 0.2rem 0.2rem 0.1rem 0.5rem;
}

main footer .footer-navigation .creator-contact .contact-text p {
  font-size: 0.8rem;
  font-weight: normal;
}

main footer .footer-navigation .creator-contact .contact-text a {
  font-size: 0.8rem;
  cursor: pointer;
}

main footer .footer-navigation .back-to-links-container {
  -webkit-box-flex: 1.5;
      -ms-flex: 1.5;
          flex: 1.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: auto;
}

main footer .footer-navigation .back-to-links-container h3 {
  height: 100%;
  -webkit-box-flex: 0.8;
      -ms-flex: 0.8;
          flex: 0.8;
  margin-top: 4vh;
  text-align: start;
  font-size: 1rem;
  padding: 0px;
}

main footer .footer-navigation .back-to-links-container ul.back-to-links {
  -webkit-box-flex: 1.2;
      -ms-flex: 1.2;
          flex: 1.2;
  width: 40%;
  height: 100%;
  margin-top: 0.7vh;
  margin-left: 0.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  justify-self: flex-end;
}

main footer .footer-navigation .back-to-links-container ul.back-to-links li {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  list-style: none;
  margin-bottom: 0.2rem;
}

main footer .footer-navigation .back-to-links-container ul.back-to-links li a {
  position: relative;
  text-decoration: none;
  color: black;
  font-weight: bolder;
  font-size: 0.9rem;
}

main footer .footer-navigation .back-to-links-container ul.back-to-links li a::after {
  content: "";
  position: absolute;
  background: #F5F5F5;
  bottom: 0;
  right: 0;
  height: 0.1rem;
  width: 0%;
  -webkit-transition: 250ms ease-in;
  transition: 250ms ease-in;
  background: black;
}

main footer .footer-navigation .back-to-links-container ul.back-to-links li a:hover::after {
  width: 100%;
  left: 0;
}

main footer .footer-navigation .back-to-links-container .back-to-links:hover {
  cursor: pointer;
}

main footer .footer-navigation .back-to-links-container .back-to-links:hover::after {
  opacity: 0;
}
/*# sourceMappingURL=styles.css.map */