@import "mixins";
@import "variables";
@import "globals";


// **==========================**
//      TABLE OF CONTENT - search to get to a specific part of CSS
//          0. PC Navbar
//              0.a Links
//
//          1. Mobile Navbar
//              1.a Logo container and logo settings
//              1.b Burger menu
//              1.c Links
//
//          2. Hero section
//              2.a Hero left side
//                  2.a.1 Hero button
//              2.b Hero services container
//                  2.b.1 Hero services button
//
//          3. Offered services section
//              3.a Offered services intro text
//              3.b Offered services list styling
//              3.c Offered services illustration images
//
//          4. Prices section
//              4.a Table of prices
//
//          5. Contact section
//              5.a Contact section layout
//                  5.a.1 Contact introduction text
//                  5.a.2 Contact person details
//              5.b Contact form container
//                  5.b.2 Contact form
//                      5.b.2.1 Contact form input button
//
//          6. Footer
//              
//          
// **==========================**


// 0. PC Navbar
nav.pc-nav {
    @include breakpoint-down(medium) {
        display: none;
    }

    position: fixed;
    top: 0;
    height: 10vh;
    display: flex;
    background: $mainBlue;
    z-index: 997;
    width: 100%;
    border-bottom: 1px solid $mainGrey;

    .navbar-logo {
        flex: 1;
        height: 100%;
        width: 100%;
        background: $mainBlue;
        position: relative;
        @include flexCenter();
        transform: translateX(-100%);
        opacity: 0;
        transition: 1000ms ease-in-out;

        .logo-over-polygon {
            position: absolute;
            background: $mainBlue;
            height: 3rem;
            width: 6rem;
            z-index: 998;
            top:0;
        }

        .logo-border-polygon {
            position: absolute;
            margin-top: 5px;
            height: 6vh;
            width: 15vw;
            border: 2px solid $mainGrey;
            @include flexCenter();
        }

        .logo-text {
            text-align: center;
            z-index: 999;
            @include flexCenter();
            flex-direction: column;
            line-height: 1.5rem;
            margin-top: -5px;

            h1 {
                font-size: 2rem;
                color:$mainYellow;
                font-weight: normal;
            }

            h2 {
                font-size: 1.2rem;
                width: max-content;
                color: $mainGrey;
                font-weight: normal;

                @include breakpoint-up(large) {
                    padding: 0.4rem 0px;
                }
            }

        }
    }

    // 0.a Links
    ul.links {
        flex: 2;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        li {
            width: max-content;
            list-style: none;
            @include textAppearAnimation();
            
            a {
                font-size: 1.1rem;
                text-transform: uppercase;
                color: $mainGrey;
                position: relative;

                @include breakpoint-up(xlarge) {
                    font-size: 1.15rem;
                }

                &::after {
                    @include underTextAnimation();
                }

                &:hover::after {
                    width: 100%;
                    left: 0;
                }
            }
        }
    }
}

.background-navbar-blur {
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 90vh;
    margin-top: 10vh;
    background: $mainGrey;
    transform: translateY(-200%);
    opacity: 0;
    transition: 1000ms ease-out;
}

.background-navbar-blur.active {
    z-index: 1000;
    transform: translateY(0%);
    opacity: 0.9;
    transition: 300ms ease-in;
}

nav.mobile-nav {
    position: fixed;
    height: 10vh;
    display: flex;
    background: $mainBlue;
    z-index: 1001;
    width: 100%;
    border-bottom: 1px solid $mainGrey;

    @include breakpoint-up(large) {
        display: none;
    }

    //1.a
    .navbar-logo {
        flex: 1;
        height: 100%;
        width: 100%;
        background: $mainBlue;
        position: relative;
        @include flexCenter();
        transform: translateX(-100%);
        transition: 1s ease-in-out;
        opacity: 0;
        transition: 1000ms ease-in-out;

        .logo-over-polygon {
            position: absolute;
            background: $mainBlue;
            height: 2rem;
            width: 4rem;
            z-index: 998;
            top:0;

            // media query for 420px and up
            @include breakpoint-up(small) {
                height: 3rem;
                width: 5rem;
            }
        }

        .logo-border-polygon {
            position: absolute;
            margin-top: 0.7rem;
            height: 2.5rem;
            width: 9rem;
            border: 2px solid $mainGrey;
            @include flexCenter();

            // media query for 420px up - bigger than small mobile device
            @include breakpoint-up(small) {
                height: 3rem;
                width: 12rem;
            }
        }

        .logo-text {
            text-align: center;
            z-index: 999;
            @include flexCenter();
            flex-direction: column;
            line-height: 1.5rem;

            // media query for 420px up - bigger than small mobile device
            @include breakpoint-up(small) {
                line-height: 2rem;
            }

            h1 {
                font-size: 1.8rem;
                color:$mainYellow;
                font-weight: normal;

                // media query for 420px up - bigger than small mobile device
                @include breakpoint-up(small) {
                    font-size: 2.1rem;
                }
            }

            h2 {
                font-size: 1rem;
                width: max-content;
                color: $mainGrey;
                font-weight: normal;
                padding: 0px;

                // media query for 420px up - bigger than small mobile device
                @include breakpoint-up(small) {
                    font-size: 1.2rem
                }
            }
        }
    }


    // 1.b Burger menu below
    .burger-menu-container {
        flex: 1;
        background: $mainBlue;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .navbar-toggle#mobile-menu {
            @include flexColumn(space-evenly);
            height: 8vh;
            width: 10%;
            margin-right: 2rem;

            span.bar {
                height: 4px;
                width: 30px;
                background-color: white;
                z-index: 1000;
                transition-duration: 400ms;
            }

            span.bar.close#top {
                transform: skewY(45deg) translateY(2.1vh);
                transition-timing-function: cubic-bezier(0.68, 0, 0.33, 0.97);
                height: 6px;
            }

            span.bar.close#mid {
                opacity: 0;
            }

            span.bar.close#bot {
                transform: skewY(-45deg) translateY(-2.1vh);
                transition-timing-function: cubic-bezier(0.68, 0, 0.33, 0.97);
                height: 6px;
            }
        }
    }

    // 1.c Links
    .mobile-nav-links {
        position: absolute;
        height: 50vh;
        width: 50vw;
        background: $mainBlue;
        border: 2px solid white;
        left: 25vw;
        transform: translateY(-110%);
        transition-duration: 500ms;
        transition-timing-function: cubic-bezier(0.68, 0, 0.33, 0.97);
        z-index: 1001;

        ul.links {
            @include flexColumn(space-evenly);
            margin: 0% 5%;
            list-style: none;
            height: 100%;

            li {
                position: relative;
                width: max-content;
                list-style: none;
                
                a {
                    text-decoration: none;
                    font-size: 1.2rem;
                    font-weight: normal;
                    color: $mainGrey;
                    text-transform: uppercase;
                    color: white;
                }
            }
        }
    }
    .mobile-nav-links.mobile-nav-active {
        transform: translateY(10vh);
    }
}

//sekce
main {
    padding-top: 10vh;

    section#main-page {
        padding-top: 0px;
        height: 90vh;

        // 2. Hero section
        .hero {
            height: 70%;

            .hero-intro {
                height: 100%;
                position: relative;

                @include breakpoint-down(xsmall) {
                    height: 90%;
                }

                .main-picture-container {
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;

                    .img-wrapper {
                        position: relative;
                        width: 100%;
                        height: 100%;

                        .img-slider {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;

                            .img-slider-container {
                                position: relative;
                                width: 100%;
                                height: 100%;
                                background: black;

                                img {
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    width: 100%;
                                    height: 100%;
                                    // object-fit: cover;
                                    opacity: 0;
                                    transition: opacity 1s ease-in-out;
                                }
                            }
                        }

                        .img-overlay-polygon {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            background: rgba(66, 66, 66, 0.5);
                        }
                    }
                }

                // 2.a Hero text container
                .sticker-container {
                    position: absolute;
                    background: rgba(0, 0, 0, 0.7);
                    left: 50%;
                    top: 40%;
                    margin-left: -130px;
                    width: max-content;
                    height: max-content;
                    padding: 1rem;
                    flex-direction: column;
                    @include flexCenter();
                    z-index: 990;

                    @include breakpoint-up(small) {
                        margin-left: -143px;
                    }

                    @include breakpoint-up(medium) {
                        margin-left: -155px;
                    }

                    @include breakpoint-up(large) {
                        margin-left: -206px;
                    }

                    .sticker-text {
                        @include flexCenter();
                        flex-direction: column;

                        h1 {
                            color: white;
                            text-shadow: 1px 1px black;
                            font-weight: 900;
                            font-size: 1.8rem;
                            // padding: 0px 0px 1rem 0px;
                            text-align: center;
                            @include textAppearAnimation();

                            // media query for 520px up - bigger than small mobile device
                            @include breakpoint-up(small) {
                                font-size: 2rem;
                            }

                            // media query for 740px up - smaller tablet device
                            @include breakpoint-up(medium) {
                                font-size: 2.2rem;
                            }

                            // media query for 1024px up - tablet device
                            @include breakpoint-up(large) {
                                font-size: 3rem;
                            }
                        }
        
                        h2 {
                            color: white;
                            text-shadow: 1px 1px black;
                            font-size: 1.5rem;
                            padding: 0;
                            font-weight: 800;
                            text-align: center;
                            @include textAppearAnimation();

                            // media query for 520px up - bigger than small mobile device
                            @include breakpoint-up(small) {
                                font-size: 1.8rem;
                            }

                            // media query for 740px up - smaller tablet device
                            @include breakpoint-up(medium) {
                                font-size: 2rem;
                            }

                            // media query for 1024px up - tablet device
                            @include breakpoint-up(large) {
                                font-size: 2.2rem;
                            }
                        }
                    }
                    // 2.a.1 Hero button
                    button.hero-button {
                        height: 3rem;
                        width: 10rem;
                        padding: 0px;
                        background: $mainGrey;
                        border: 0;
                        margin: 1rem 0px;
                        @include flexCenter();
                        cursor: pointer;
                        position: relative;
                        vertical-align: middle;
                        box-sizing: border-box;
                        transition: color 0.25s;

                        // media query for 420px down - only mobile phones
                        @include breakpoint-down(xsmall) {
                            margin: 0;
                            margin-top: 1rem;
                        }

                        // media query for 520px up - smaller tablets and bigger mobile phones
                        @include breakpoint-up(small) {
                            height: 3.5rem;
                            width: 12rem;
                        }

                        // media query for 740px up - smaller tablets and bigger mobile phones
                        @include breakpoint-up(medium) {
                            height: 4rem;
                            width: 15rem;
                        }

                        // media query for 1024px up - tablet device
                        @include breakpoint-up(large) {
                            height: 3.5rem;
                            width: 12rem;
                        }

                        span {
                            position: absolute;

                             &.top-border {
                                 top: 0;
                                 left: 0;
                                 width: 0;
                                 height: 5px;
                                 background-color: $mainYellow;
                                 transition:1500ms ease-in-out;

                                 &.left-right {
                                    width: 100%;
                                 }

                                 &.reverse {
                                     width: 0;
                                     right: 0;
                                     left: auto;
                                 }
                             }

                             &.right-border {
                                top: 0;
                                right: 0;
                                width: 5px;
                                height: 0;
                                background-color: $mainYellow;
                                transition:1500ms ease-in-out;

                                &.up-down {
                                    height: 100%;
                                }

                                &.reverse {
                                    height: 0;
                                    bottom: 0;
                                    top: auto;
                                }
                             }

                             &.bottom-border {
                                 bottom: 0;
                                 right: 0;
                                 width: 0;
                                 height: 5px;
                                 background-color: $mainYellow;
                                 transition:1500ms ease-in-out;

                                 &.right-left {
                                     width: 100%;
                                 }

                                 &.reverse {
                                     width: 0;
                                     left: 0;
                                     right: auto;
                                 }
                             }

                             &.left-border {
                                 bottom: 0;
                                 left: 0;
                                 width: 5px;
                                 height: 0;
                                 background-color: $mainYellow;
                                 transition:1500ms ease-in-out;

                                 &.down-up {
                                    height: 100%;
                                 }

                                 &.reverse{
                                     height: 0;
                                     top: 0;
                                     bottom: auto;
                                 }
                             }
                        }
                        
                        &:hover::after {
                            content: "";
                            position: absolute;
                            top: -10px;
                            left: -10px;
                            width: 100%;
                            height: 100%;
                            border: 10px solid $mainYellow;
                            background: $mainYellow;
                            opacity: 0.3;
                            filter: blur(1.5rem);
                            z-index: -1;
                        }
        
                        h3 {
                            color: $drawingBlack;
                            font-weight: 700;
                            font-size: 1.2rem;
                            @include textAppearAnimation();
                            margin: 0px;

                            // media query for 520px up - smaller tablets and bigger mobile phones
                            @include breakpoint-up(small) {
                                font-size: 1.3rem;
                            }

                            // media query for 740px up - smaller tablets and bigger mobile phones
                            @include breakpoint-up(medium) {
                                font-size: 1.4rem;
                            }

                            // media query for 1024px up - tablet device
                            @include breakpoint-up(large) {
                                font-size: 1.5rem;
                            }
                        }
                    }
                }
            }
            
            // 2.b Hero services
            .hero-services-container {
                height: 45%;
                width: 100%;
                @include flexCenter();
                flex-direction: column;

                @include breakpoint-up(small) {
                    height: 60%;
                }

                .border-effect-polygon {
                    position: relative;
                    height: 90%;
                    width: 90%;
                    margin: 1.5rem auto auto;
                    @include flexCenter();
                    flex-direction: column;
                    border: 2px solid $drawingBlack;

                    @include breakpoint-up(small) {
                        height: 55%;
                    }

                    @include breakpoint-up(xlarge) {
                        width: 70%;
                        margin: 1.5rem auto auto;
                    }

                    p {
                        font-size: 0.8rem;
                        padding: 0px 0.5rem;
                        text-align: center;
                        @include textAppearAnimation();


                        // media query for 420px up
                        @include breakpoint-up(xsmall) {
                            font-size: 1rem;
                        }

                        // media query for 740px up
                        @include breakpoint-up(medium) {
                            font-size: 1.15rem;
                        }

                        // media query for 740px up
                        @include breakpoint-up(large) {
                        font-size: 1.25rem;
                        }
                    }

                    .offer-overlay-polygon {
                        position: absolute;
                        top: -0.8rem;
                        height: 1.8rem;
                        width: max-content;
                        padding: 0px 2rem;
                        background: $mainGrey;

                        // media query for 420px up
                        @include breakpoint-up(xsmall) {
                            top:-1rem;
                        }

                        // media query for 740px up
                        @include breakpoint-up(medium) {
                            top:-1.25rem;
                        }

                        // media query for 420px up
                        @include breakpoint-up(large) {
                            top:-1.4rem;
                        }

                        h1 {
                            font-size: 1.3rem;
                            color: $drawingBlack;
                            @include textAppearAnimation();

                            // media query for 420px up
                            @include breakpoint-up(xsmall) {
                                font-size: 1.5rem;
                            }

                            // media query for 420px up
                            @include breakpoint-up(medium) {
                                font-size: 1.8rem;
                            }

                            // media query for 420px up
                            @include breakpoint-up(large) {
                                font-size: 2rem;
                            }
                        }
                    }
                    // 2.b.1 Hero services button
                    .border-button-polygon {
                        position: absolute;
                        bottom: -1.25rem;
                        height: 2.2rem;
                        width: max-content;
                        padding: 0px 2.5rem;
                        background: white;
                        box-shadow: inset 0 0 0 2px $drawingBlack;
                        cursor: pointer;
                        vertical-align: middle;
                        box-sizing: border-box;
                        transition: color 0.25s;

                        // media query for 420px up
                        @include breakpoint-up(xsmall) {
                            height: 2.5rem;
                        }

                        // media query for 740px up
                        @include breakpoint-up(medium) {
                            height: 2.8rem;
                        }

                        &::before,
                        &::after {
                            box-sizing: inherit;
                            content: '';
                            position: absolute;
                            width: 100%;
                            height: 100%;
                        }
    
                        &::before,
                        &::after {
                            border: 2px solid transparent;
                            width: 0;
                            height: 0;
                        }
    
                        &::before {
                            top: 0;
                            left: 0;
                        }
    
                        &::after {
                            bottom: 0;
                            right: 0;
                        }
    
                        &:hover {
                            color: $mainYellow;
                        }
    
                        &:hover::before,
                        &:hover::after {
                            width: 100%;
                            height: 100%;
                        }
    
                        &:hover::before {
                            border-top-color: $mainYellow;
                            border-right-color: $mainYellow;
                            transition: width 0.25s ease-out,
                                height 0.25s ease-out 0.25s;
                        }
    
                        &:hover::after {
                            border-bottom-color: $mainYellow;
                            border-left-color: $mainYellow;
                            transition: border-color 0s ease-out 0.5s, 
                                width 0.25s ease-out 0.5s,
                                height 0.25s ease-out 0.75s;
                            
                            }

                        a.services-button {
                            height: 100%;
                            width: 100%;
                            font-size: 1.2rem;
                            justify-self: center;
                            @include flexCenter();
                            @include textAppearAnimation();
                            font-weight: bolder;

                            @include breakpoint-up(small) {
                                font-size: 1.4rem;
                            }

                            // media query for 740px up
                            @include breakpoint-up(medium) {
                                font-size: 1.6rem;
                            }

                            // media query for 740px up
                            @include breakpoint-up(large) {
                                font-size: 1.8rem;
                            }
                        }
                    }
                }
            }
        }
    }

    // 3. Offered services section
    section#services-section {
        min-height: max-content;
        width: 90%;
        margin: auto;
        @include flexColumn(center);
        
        @include breakpoint-up(small) {
            margin-top: 3rem;
        }

        @include breakpoint-up(medium) {
            width: 90%;
            margin: auto;
        }

        @include breakpoint-up(large) {
            margin-top: 3rem;
        }

        // 3.a Offered services into text
        .offered-services {
            flex: 1;
            padding: 1rem 0.5rem 0.5rem 0.5rem;



            h1 {
                font-size: 1.8rem;
                padding-bottom: 0.5rem;

                // media query for 420px up - mobile device
                @include breakpoint-up(xsmall) {
                    font-size: 1.9rem;
                }

                // media query for 740px up - mobile device
                @include breakpoint-up(medium) {
                    font-size: 2rem;
                }

                // media query for 1024px up - mobile device
                @include breakpoint-up(large) {
                    font-size: 2.2rem;
                }
            }

            h2, h3, h4 {
                font-size: 1.15rem;
                padding: 0.6rem 0px;
                transition: 1300ms ease-in;

                // media query for 420px up - mobile device
                @include breakpoint-up(xsmall) {
                    font-size: 1.3rem;
                }

                // media query for 740px up - mobile device
                @include breakpoint-up(medium) {
                    font-size: 1.5rem;
                }

                // media query for 1024px up - mobile device
                @include breakpoint-up(large) {
                    font-size: 1.6rem;
                }
            }

            h3 {
                margin-top: 1rem;
            }

            p {
                font-size: 1rem;

                // media query for 740px up - mobile device
                @include breakpoint-up(medium) {
                    font-size: 1.1rem;
                }

                // media query for 1024px up - mobile device
                @include breakpoint-up(large) {
                    font-size: 1.15rem;
                }

                span {
                    padding: 0.3rem 0px;
                    display: block;
                }
            }
            // 3.b Offered services list styling
            ul.fade-in {
                opacity: 0;
                transform: translateX(-50%);
                transition: 600ms ease-in;
            }
    
            ul.fade-in.appear {
                opacity: 1;
                transform: translateX(0%);
                padding-bottom: 2rem;
                }
    
            .list-items {
                display: flex;
                justify-content: flex-start;
                margin-left: 10%;

                li {
                    list-style: none;
                    align-self: center;
                    padding: 0.5rem 0px;


                    // media query for 740px up - mobile device
                    @include breakpoint-up(medium) {
                        font-size: 1.1rem;
                    }

                    // media query for 1024px up - mobile device
                    @include breakpoint-up(large) {
                        font-size: 1.15rem;
                    }
                }

                img {
                    margin: 0.5rem 2px;
                    height: 25px;
                    width: 25px;

                    @include breakpoint-up(xsmall) {
                        height: 30px;
                        width: 30px;
                    }
                }

                &:hover {

                    li {
                        margin-left: 2.5%;
                        transition: 250ms ease-in-out;
                    }
        
                    img {
                        transform: rotate(-110deg) translateY(15%);
                        transition: 250ms ease-in-out;
                    }
                }
            }

            ul.fade-in#advantages-list {
                @include flexStart();
                flex-direction: column;

                .list-items {
                    @include flexCenter();

                    img {
                        height: 40px;
                        width: 40px;
                    }

                    &:hover {
                        
                        li {
                            margin-left: 3.5%;
                        }
                    }
                }
            }


        }
        // 3.c Offered services illustration images
        .service-ilustration-images {
            flex: 1;
            @include flexCenter();
            flex-direction: column;

            .faded-image-container {
                width: 100%;
                height: 30vh;
                background: black;
                opacity: 0;
                transition: 1200ms ease-in;

                // media query for 420px up - mobile device
                @include breakpoint-up(xsmall) {
                    height: 35vh;
                }

                // media query for 520px up - bigger mobile device
                @include breakpoint-up(small) {
                    height: 40vh;
                }

                // media query for 740px up - bigger mobile device
                @include breakpoint-up(medium) {
                    height: 55vh;
                }

                // media query for 1024px up - bigger mobile device
                @include breakpoint-up(large) {
                    height: 65vh;
                }

                // media query for 1400px up - bigger mobile device
                @include breakpoint-up(xlarge) {
                    height: 65vh;
                    width: 80%;
                }

                img {
                    height: 100%;
                    width: 100%;
                }

                &.appear {
                    opacity: 1;
                }
            }
        }
    }
    
    // 4. Prices section
    section#prices {
        height: max-content;
        width: 90%;
        margin: auto;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        justify-content: flex-start;
        padding: 0px 0.5rem 2rem;

        @include breakpoint-up(medium) {
            width: 90%;
            margin: auto; 
        }

        h1 {
            font-size: 1.8rem;
            padding-bottom: 0.5rem;
            align-self: flex-start;
        }

        p {
            padding-bottom: 0.5rem;

            @include breakpoint-up(large) {
                padding-bottom: 1rem;
            }
        }
        // 4.a Table of prices
        table {
            width: 100%;
            border-collapse: collapse;
            padding-top: 5vh;
            border: 1px solid $mainBlue;
            justify-self: flex-end;

            @include breakpoint-up(large) {
                width: 65%;
                margin: auto;
            }

            tr:nth-child(1) {
                background-color: $mainBlue!important;
                color:$mainGrey;
            }
            
            tr:nth-child(even) {
                background-color: rgb(234, 250, 255);
                transition: 150ms ease;
            }

            tr:nth-child(even):hover {
                background-color: rgb(221, 247, 255);
                font-weight: 550;
            }

            tr:nth-child(odd) {
                background-color: rgb(255, 255, 235);
                transition: 150ms ease;
            }

            tr:nth-child(odd):hover {
                background-color: rgb(255, 255, 221);
                font-weight: bolder;
            }

            th,td {
                text-align: left;
                padding: 8px 8px 8px 2vw;
            }
            
            th.price, td.price {
                text-align: right;
                padding: 8px 2vw 8px 8px;

            }
        }
    }
    // 5. Contact section
    section#contact-section {
        height: max-content;
        width: 90%;
        margin: auto;
        padding-bottom: 2rem;

        @include breakpoint-up(medium) {
            width: 90%;
            margin: auto;
        }
        // 5.a Contact section layout
        .contact-layout {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto;
            grid-template-areas: 
            "intro intro"
            "detail detail"
            "form form";
            padding: 0px 0.5rem;

            @include breakpoint-up(medium) {
                grid-template-areas: 
                "intro intro"
                "form detail"
                "form detail";
            }
            // 5.a.1 Contact introduction
            .contact-intro {
                grid-area: intro;

                h1 {
                    font-size: 2rem;
                    font-weight: 900;
                }
        
                p {
                    width: 100%;
                    padding-top: 0.5rem;
                    font-size: 1rem;

                    span {
                        padding: 2px 0px;
                        display: block;
                    }
                }
            }
            // 5.a.2 Contact person details
            .contact-details-container {
                grid-area: detail;
                height: 100%;
                width: 100%;
                background: $mainGrey;
                @include flexCenter();
                flex-direction: column;

                .img-container {
                    width: 100%;
                    @include flexCenter();
                    margin-top: 1rem;
                    
                    img {
                        height: 12rem;
                        width: 10rem;
                        border-radius: 50%;
                        border: 1px solid $drawingBlack;
                        background: white;

                        @include breakpoint-up(xsmall) {
                            height: 15rem;
                            width: 12rem;
                        }
                    }
                }

                .contact-details {
                    height: auto;

                    p {
                        font-size: 0.9rem;
                        font-weight: 600;
                        padding: 0.5rem;

                        @include breakpoint-up(xsmall) {
                            font-size: 1.1rem;
                        }

                        &.underline {
                            border-bottom: 1px solid $drawingBlack;
                        }
                    }
                }
            }
            // 5.b Contact form container
            .contact-form-container {
                grid-area: form;
                height: 100%;
                width: 100%;
                margin-top: 3rem;
                @include flexCenter();
                flex-direction: column;

                legend {
                    padding-top: 1rem;
                    font-size: 1.5rem;
                    font-weight: bolder;
                }
                // 5.b.2 Contact form
                form {
                    margin-top: 1.5rem;
                    fieldset {
                        border: none;
                        padding-bottom: 2rem;

                        .form-group {
                            @include flexColumn(center);
                            align-items: flex-start;

                            .form-field-label {
                                font-size: 1.1rem;
                            }

                            .small-form-field {
                                width: 17rem;
                                height: 1.75rem;
                                border: 1px solid $mainBlue;
                                border-radius: 5px;

                                @include breakpoint-up(xsmall) {
                                    width: 22rem;
                                    height: 2rem;
                                }

                                
                                &:focus {
                                    outline: none!important;
                                    border: 2px solid $mainBlue;
                                    background: rgb(250, 255, 255);
                                }

                                &.error {
                                    border: 1px solid red;
                                }
                            }

                            .big-form-field {
                                width: 17rem;
                                height: 17rem;
                                border: 1px solid $mainBlue;
                                border-radius: 5px;

                                @include breakpoint-up(xsmall) {
                                    width: 22rem;
                                    height: 22rem;
                                }

                                &:focus {
                                    outline: none!important;
                                    border: 2px solid $mainBlue;
                                    background: rgb(250, 255, 255);
                                }

                                &.error {
                                    border: 1px solid red;
                                }
                            }

                            .invalid-feedback {
                                color: red;
                                padding-bottom: 0.5rem;
                            }
                        }
                        // 5.b.2.1 Contact form input button
                        input.form-btn {
                            margin-top: 1rem;
                            height: 2rem;
                            width: 6.5rem;
                            border: 2px solid $mainBlue;
                            border-radius: 5px;
                            background-color: $lightBlue;
                            text-transform: uppercase;
                            font-weight: 600;
                            color: $drawingBlack;
                        }
                    }
                }
            }
        }
    }
    // 6. Footer
    footer {
        height: 40vh;
        padding: 0px 0.5rem;
        background: $lightBlue;
        display: flex;
        position: relative;

        .footer-border {
            position: absolute;
            top: 0;
            left: 0;
            height: 2vh;
            width: 100%;
            background: $mainBlue;
        }
        .about-owner {
            flex: 1;
            display: flex;
            justify-content: flex-end;

            .footer-logo-container {
                display: none;
            }

            ul {
                flex: 1;
                margin: 6vh 3vw 0px 0px;
                height: max-content;

                li {
                    font-size: 0.8rem;
                    padding: 5px;
                    list-style: none;
                }

                li.underline {
                    border-bottom: 1px solid black;
                }

            }
        }

        .footer-navigation {
            flex: 1;
            display: flex;
            flex-direction: column;

            .creator-contact {
                flex: 0.5;
                display: flex;
                justify-self: flex-end;
                align-items: flex-end;
                justify-content: flex-end;

                .contact-text {
                    margin: 0.2rem 0.2rem 0.1rem 0.5rem;

                    p {
                        font-size: 0.8rem;
                        font-weight: normal;
                    }

                    a {
                        font-size: 0.8rem;
                        cursor: pointer;
                    }
                }
            }

            .back-to-links-container {
                flex: 1.5;
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
                width: auto;

                h3 {
                    height: 100%;
                    flex: 0.8;
                    margin-top: 4vh;
                    text-align: start;
                    font-size: 1rem;
                    padding: 0px;
                }

                ul.back-to-links {
                    flex: 1.2;
                    width: 40%;
                    height: 100%;
                    margin-top: 0.7vh;
                    margin-left: 0.2rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    justify-self: flex-end;
        
                    li {
                        width: max-content;
                        list-style: none;
                        margin-bottom: 0.2rem;
                        
                        a {
                            position: relative;
                            text-decoration: none;
                            color: black;
                            font-weight: bolder;
                            font-size: 0.9rem;
                        }
        
                        a::after {
                            @include underTextAnimation();
                            background: black;
                        }
        
                        a:hover::after {
                            width: 100%;
                            left: 0;
                        }
                    }
                }
    
                .back-to-links:hover {
                    cursor: pointer;
                }
        
                .back-to-links:hover::after{
                    opacity: 0;
                }
            }
        }


    }
}



