@import "mixins";
@import "variables";
@import "globals";


// **==========================**
//      TABLE OF CONTENT - search to get to a specific part of CSS
//          0. PC Navbar
//              0.a Links
//
//          1. Mobile Navbar
//              1.a Logo container and logo settings
//              1.b Burger menu
//              1.c Links
//
//          2. Hero section
//              2.a Hero left side
//                  2.a.1 Hero button
//              2.b Hero services container
//                  2.b.1 Hero services button
//
//          3. Offered services section
//              3.a Offered services intro text
//              3.b Offered services list styling
//              3.c Offered services illustration images
//
//          4. Prices section
//              4.a Table of prices
//
//          5. Contact section
//              5.a Contact section layout
//                  5.a.1 Contact introduction text
//                  5.a.2 Contact person details
//              5.b Contact form container
//                  5.b.2 Contact form
//                      5.b.2.1 Contact form input button
//
//          6. Footer
//              
//          
// **==========================**


// 0. PC Navbar
nav.pc-nav {
    @include breakpoint-down(medium) {
        display: none;
    }

    position: fixed;
    top: 0;
    height: 8vh;
    display: flex;
    background: $mainBlue;
    z-index: 997;
    width: 100%;
    border-bottom: 1px solid $mainGrey;

    .navbar-logo {
        flex: 1;
        height: 100%;
        width: 100%;
        background: $mainBlue;
        position: relative;
        @include flexCenter();

        .logo-over-polygon {
            position: absolute;
            background: $mainBlue;
            height: 3vh;
            width: 6rem;
            z-index: 998;
            top:0;
        }

        .logo-border-polygon {
            position: absolute;
            margin-top: 5px;
            height: 6vh;
            width: 15vw;
            border: 2px solid $mainGrey;
            @include flexCenter();
        }

        .logo-text {
            text-align: center;
            z-index: 999;
            @include flexCenter();
            flex-direction: column;
            line-height: 1.5rem;
            margin-top: -5px;

            h1 {
                font-size: 2rem;
                color:$mainYellow;
                font-weight: normal;
            }

            h2 {
                font-size: 1.2rem;
                width: max-content;
                color: $mainGrey;
                font-weight: normal;
            }

        }
    }

    // 0.a Links
    ul.links {
        flex: 2;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        li {
            position: relative;
            width: max-content;
            list-style: none;
            @include textAppearAnimation();
            
            a {
                font-size: 1.2rem;
                text-transform: uppercase;
                color: $mainGrey;

                &::after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    height: 0.1rem;
                    width: 100%;
                    opacity: 0;
                    transform: translateX(-50%);
                    transition:250ms ease-in;
                }

                &:hover::after {
                    content: "";
                    background: $mainGrey;
                    width: 100%;
                    opacity: 1;
                    transform: translateX(0%);
                }
            }
        }
    }
}

.background-navbar-blur {
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 90vh;
    margin-top: 10vh;
    background: $mainGrey;
    transform: translateY(-200%);
    opacity: 0;
    transition: 1000ms ease-out;
}

.background-navbar-blur.active {
    z-index: 1000;
    transform: translateY(0%);
    opacity: 0.9;
    transition: 300ms ease-in;
}

nav.mobile-nav {
    @include breakpoint-up(large) {
        display: none;
    }

    position: fixed;
    height: 10vh;
    display: flex;
    background: $mainBlue;
    z-index: 1001;
    width: 100%;
    border-bottom: 1px solid $mainGrey;

    //1.a
    .navbar-logo {
        flex: 1;
        height: 100%;
        width: 100%;
        background: $mainBlue;
        position: relative;
        @include flexCenter();
        transform: translateX(-100%);
        transition: 1s ease-in-out;
        opacity: 0;
        transition: 1000ms ease-in-out;

        .logo-over-polygon {
            position: absolute;
            background: $mainBlue;
            height: 2rem;
            width: 4rem;
            z-index: 998;
            top:0;

            // media query for 420px and up
            @include breakpoint-up(small) {
                height: 3rem;
                width: 5rem;
            }
        }

        .logo-border-polygon {
            position: absolute;
            margin-top: 0.7rem;
            height: 2.5rem;
            width: 9rem;
            border: 2px solid $mainGrey;
            @include flexCenter();

            // media query for 420px and up
            @include breakpoint-up(small) {
                height: 3rem;
                width: 12rem;
            }
        }

        .logo-text {
            text-align: center;
            z-index: 999;
            @include flexCenter();
            flex-direction: column;
            line-height: 1.5rem;

            // media query for 420px and up
            @include breakpoint-up(small) {
                line-height: 2rem;
            }

            h1 {
                font-size: 1.8rem;
                color:$mainYellow;
                font-weight: normal;

                // media query for 420px and up
                @include breakpoint-up(small) {
                    font-size: 2.1rem;
                }
            }

            h2 {
                font-size: 1rem;
                width: max-content;
                color: $mainGrey;
                font-weight: normal;
                padding: 0px;

                // media query for 420px and up
                @include breakpoint-up(small) {
                    font-size: 1.2rem
                }
            }
        }
    }


    // 1.b Burger menu below
    .burger-menu-container {
        flex: 1;
        background: $mainBlue;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .navbar-toggle#mobile-menu {
            @include flexColumn(space-evenly);
            height: 8vh;
            width: 10%;
            margin-right: 2rem;

            span.bar {
                height: 4px;
                width: 30px;
                background-color: white;
                z-index: 1000;
                transition-duration: 400ms;
            }

            span.bar.close#top {
                transform: skewY(45deg) translateY(2.1vh);
                transition-timing-function: cubic-bezier(0.68, 0, 0.33, 0.97);
                height: 6px;
            }

            span.bar.close#mid {
                opacity: 0;
            }

            span.bar.close#bot {
                transform: skewY(-45deg) translateY(-2.1vh);
                transition-timing-function: cubic-bezier(0.68, 0, 0.33, 0.97);
                height: 6px;
            }
        }
    }

    // 1.c Links
    .mobile-nav-links {
        position: absolute;
        height: 50vh;
        width: 50vw;
        background: $mainBlue;
        border: 2px solid white;
        left: 25vw;
        transform: translateY(-110%);
        transition-duration: 500ms;
        transition-timing-function: cubic-bezier(0.68, 0, 0.33, 0.97);
        z-index: 1001;

        ul.links {
            @include flexColumn(space-evenly);
            margin: 0% 5%;
            list-style: none;
            height: 100%;

            li {
                position: relative;
                width: max-content;
                list-style: none;
                
                a {
                    text-decoration: none;
                    font-size: 1.2rem;
                    font-weight: normal;
                    color: $mainGrey;
                    text-transform: uppercase;
                    color: white;
                }
            }
        }
    }
    .mobile-nav-links.mobile-nav-active {
        transform: translateY(10vh);
    }
}

//sekce
main {
    padding-top: 10vh;

    section#main-page {
        padding-top: 0px;
        height: 92vh;
        // 2. Hero section
        .hero {
            height: 100%;

            .main-picture-container {
                height: 50%;
                background-size: cover;
                width: 100%;
                background-image: url("/static/images/Intro_page_1.jpg");
                background-repeat: no-repeat;
            }
            // 2.a Hero left side
            .left-sticker-container {
                height: 100%;
                width: 55%;
                @include flexCenter();
                flex-direction: column;

                .sticker-text {
                    @include flexCenter();
                    flex-direction: column;
                    
                    // media query for 540px up
                    @include breakpoint-up(medium) {
                        width: 45%;
                    }

                    h1 {
                        color: $mainGrey;
                        text-shadow: 1px 1px black;
                        font-weight: 900;
                        font-size: 1.8rem;
                        padding: 0;
                        text-align: center;
                        @include textAppearAnimation();
                    }
    
                    h2 {
                        color: $mainGrey;
                        text-shadow: 1px 1px black;
                        font-size: 1.5rem;
                        padding: 0;
                        font-weight: 800;
                        text-align: center;
                        @include textAppearAnimation();
                    }
                }
                // 2.a.1 Hero button
                button.hero-button {
                    height: 3rem;
                    width: 10rem;
                    padding: 0;
                    background: $mainGrey;
                    border: 0;
                    margin: 1rem 0px;
                    @include flexCenter();
                    cursor: pointer;
                    position: relative;
                    vertical-align: middle;
                    box-sizing: border-box;
                    transition: color 0.25s;
                    box-shadow: inset 0 0 0 2px $mainBlue;

                    &::before,
                    &::after {
                        box-sizing: inherit;
                        content: '';
                        position: absolute;
                        width: 100%;
                        height: 100%;
                    }

                    &::before,
                    &::after {
                        border: 2px solid transparent;
                        width: 0;
                        height: 0;
                    }

                    &::before {
                        top: 0;
                        left: 0;
                    }

                    &::after {
                        bottom: 0;
                        right: 0;
                    }

                    &:hover {
                        color: $mainYellow;
                        background: $lightBlue;
                        transition: 1s ease-out;
                    }

                    &:hover::before,
                    &:hover::after {
                        width: 100%;
                        height: 100%;
                    }

                    &:hover::before {
                        border-top-color: $mainYellow;
                        border-right-color: $mainYellow;
                        transition: width 0.25s ease-out,
                            height 0.25s ease-out 0.25s;
                    }

                    &:hover::after {
                        border-bottom-color: $mainYellow;
                        border-left-color: $mainYellow;
                        transition: border-color 0s ease-out 0.5s, 
                            width 0.25s ease-out 0.5s,
                            height 0.25s ease-out 0.75s;
                        
                        }
    
                    h3 {
                        color: $drawingBlack;
                        font-weight: 700;
                        font-size: 1.2rem;
                        @include textAppearAnimation();
                        margin: 0px;
                    }
                }

                //media query for 540px up
                //.left-sticker-container
                @include breakpoint-up(medium) {
                    width: 45%;
                }
            }
            // 2.b Hero services
            .hero-services-container {
                height: 40%;
                width: 100%;
                @include flexCenter();
                flex-direction: column;

                .border-effect-polygon {
                    position: relative;
                    height: 90%;
                    width: 90%;
                    margin: 1.5rem auto auto;
                    @include flexCenter();
                    flex-direction: column;
                    border: 2px solid $drawingBlack;

                    p {
                        font-size: 0.9rem;
                        padding: 0px 0.5rem;
                        text-align: center;
                        @include textAppearAnimation();
                    }

                    .offer-overlay-polygon {
                        position: absolute;
                        top: -0.6rem;
                        height: 2rem;
                        width: max-content;
                        padding: 0px 2rem;
                        background: $mainGrey;

                        h1 {
                            font-size: 1.3rem;
                            color: $drawingBlack;
                            @include textAppearAnimation();
                        }
                    }
                    // 2.b.1 Hero services button
                    .border-button-polygon {
                        position: absolute;
                        bottom: -1.25rem;
                        height: 2.2rem;
                        width: max-content;
                        padding: 0px 2.5rem;
                        background: white;
                        box-shadow: inset 0 0 0 2px $drawingBlack;
                        cursor: pointer;
                        vertical-align: middle;
                        box-sizing: border-box;
                        transition: color 0.25s;

                        &::before,
                        &::after {
                            box-sizing: inherit;
                            content: '';
                            position: absolute;
                            width: 100%;
                            height: 100%;
                        }
    
                        &::before,
                        &::after {
                            border: 2px solid transparent;
                            width: 0;
                            height: 0;
                        }
    
                        &::before {
                            top: 0;
                            left: 0;
                        }
    
                        &::after {
                            bottom: 0;
                            right: 0;
                        }
    
                        &:hover {
                            color: $mainYellow;
                        }
    
                        &:hover::before,
                        &:hover::after {
                            width: 100%;
                            height: 100%;
                        }
    
                        &:hover::before {
                            border-top-color: $mainYellow;
                            border-right-color: $mainYellow;
                            transition: width 0.25s ease-out,
                                height 0.25s ease-out 0.25s;
                        }
    
                        &:hover::after {
                            border-bottom-color: $mainYellow;
                            border-left-color: $mainYellow;
                            transition: border-color 0s ease-out 0.5s, 
                                width 0.25s ease-out 0.5s,
                                height 0.25s ease-out 0.75s;
                            
                            }

                        a.services-button {
                            height: 100%;
                            width: 100%;
                            font-size: 1.2rem;
                            justify-self: center;
                            @include flexCenter();
                            @include textAppearAnimation();
                        }
                    }
                }
            }
        }
    }

    // 3. Offered services section
    section#services-section {
        min-height: max-content;
        @include flexColumn(center);

        // 3.a Offered services into text
        .offered-services {
            flex: 1;
            padding: 1rem 0.5rem 0.5rem 0.5rem;

            h1 {
                font-size: 1.8rem;
            }

            h2, h3, h4 {
                font-size: 1.15rem;
                padding: 0.6rem 0px;
                transition: 1300ms ease-in;
            }

            h3 {
                margin-top: 1rem;
            }

            p {
                font-size: 1rem;

                span {
                    padding: 0.3rem 0px;
                    display: block;
                }
            }
            // 3.b Offered services list styling
            ul.fade-in {
                opacity: 0;
                transform: translateX(-50%);
                transition: 600ms ease-in;
            }

            ul.fade-in#advantages-list {

                .list-items {
                    @include flexCenter();

                    img {
                        height: 40px;
                        width: 40px;
                    }

                    &:hover {
                        
                        li {
                            margin-left: 3.5%;
                        }
                    }
                }
            }
    
            ul.fade-in.appear {
                opacity: 1;
                transform: translateX(0%);
                padding-bottom: 2rem;
                }
    
            .list-items {
                display: flex;
                justify-content: flex-start;
                margin-left: 10%;

                li {
                    list-style: none;
                    align-self: center;
                    padding: 0.5rem 0px;
                }

                img {
                    margin: 0.5rem 2px;
                    
                }

                &:hover {

                    li {
                        margin-left: 2.5%;
                        transition: 250ms ease;
                    }
        
                    img {
                        transform: rotate(-110deg) translateY(15%);
                        transition: 250ms ease-in-out;
                    }
                }
            }


        }
        // 3.c Offered services illustration images
        .service-ilustration-images {
            flex: 1;
            @include flexCenter();
            flex-direction: column;

            .faded-image-container {
                width: 100%;
                height: 25vh;
                background: black;
                opacity: 0;
                transform: translateX(-50%);
                transition: 1200ms ease-in;

                img {
                    height: 100%;
                    width: 100%;
                }
            }

            .faded-image-container.appear {
                opacity: 1;
                transform: translateY(0%);
            }
        }
    }
    
    // 4. Prices section
    section#prices {
        height: max-content;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        justify-content: flex-start;
        padding: 0px 0.5rem;

        h2 {
            font-size: 1.8rem;
            padding-bottom: 0.5rem;
            align-self: flex-start;
        }

        p {
            padding-bottom: 0.5rem;
        }
        // 4.a Table of prices
        table {
            width: 100%;
            border-collapse: collapse;
            padding-top: 5vh;
            border: 1px solid $mainBlue;
            justify-self: flex-end;

            tr:nth-child(1) {
                background-color: $mainBlue!important;
                color:$mainGrey;
            }
            
            tr:nth-child(even) {
                background-color: rgb(234, 250, 255);
                transition: 150ms ease;
            }

            tr:nth-child(even):hover {
                background-color: rgb(221, 247, 255);
                font-weight: 550;
            }

            tr:nth-child(odd) {
                background-color: rgb(255, 255, 235);
                transition: 150ms ease;
            }

            tr:nth-child(odd):hover {
                background-color: rgb(255, 255, 221);
                font-weight: bolder;
            }

            th,td {
                text-align: left;
                padding: 8px 8px 8px 2vw;
            }
            
            th.price, td.price {
                text-align: right;
                padding: 8px 2vw 8px 8px;

            }
        }
    }
    // 5. Contact section
    section#contact-section {
        height: max-content;
        // 5.a Contact section layout
        .contact-layout {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto;
            grid-template-areas: 
            "intro intro"
            "detail detail"
            "form form";
            padding: 0px 0.5rem;
            // 5.a.1 Contact introduction
            .contact-intro {
                grid-area: intro;

                h1 {
                    font-size: 2rem;
                    font-weight: 900;
                }
        
                p {
                    width: 100%;
                    padding-top: 0.5rem;
                    font-size: 1rem;

                    span {
                        padding: 2px 0px;
                        display: block;
                    }
                }
            }
            // 5.a.2 Contact person details
            .contact-details-container {
                grid-area: detail;
                height: 100%;
                width: 100%;
                background: $mainGrey;
                @include flexCenter();
                flex-direction: column;

                .img-container {
                    width: 100%;
                    @include flexCenter();
                    margin-top: 1rem;
                    
                    img {
                        height: 12rem;
                        width: 10rem;
                        border-radius: 50%;
                        border: 1px solid $drawingBlack;
                        background: white;
                    }
                }

                .contact-details {
                    height: auto;

                    p {
                        font-size: 0.9rem;
                        font-weight: 600;
                        padding: 0.5rem;
                    }

                    p.underline {
                        border-bottom: 1px solid $drawingBlack;
                    }
                }
            }
            // 5.b Contact form container
            .contact-form-container {
                grid-area: form;
                height: 100%;
                width: 100%;

                legend {
                    padding-top: 1rem;
                    font-size: 1.5rem;
                    font-weight: bolder;
                }
                // 5.b.2 Contact form
                form {
                    margin-top: 1.5rem;
                    fieldset {
                        border: none;
                        padding-bottom: 2rem;

                        .form-group {
                            @include flexColumn(center);
                            align-items: flex-start;

                            .form-field-label {
                                font-size: 1.1rem;
                            }

                            .small-form-field {
                                width: 17rem;
                                height: 1.75rem;
                                border: 1px solid $mainBlue;
                                border-radius: 5px;

                                
                                &:focus {
                                    outline: none!important;
                                    border: 2px solid $mainBlue;
                                    background: rgb(250, 255, 255);
                                }

                                &.error {
                                    border: 1px solid red;
                                }
                            }

                            .big-form-field {
                                width: 17rem;
                                height: 17rem;
                                border: 1px solid $mainBlue;
                                border-radius: 5px;

                                &:focus {
                                    outline: none!important;
                                    border: 2px solid $mainBlue;
                                    background: rgb(250, 255, 255);
                                }

                                &.error {
                                    border: 1px solid red;
                                }
                            }

                            .invalid-feedback {
                                color: red;
                                padding-bottom: 0.5rem;
                            }
                        }
                        // 5.b.2.1 Contact form input button
                        input.form-btn {
                            margin-top: 1rem;
                            height: 2rem;
                            width: 6.5rem;
                            border: 2px solid $mainBlue;
                            border-radius: 5px;
                            background-color: $lightBlue;
                            text-transform: uppercase;
                            font-weight: 600;
                            color: $drawingBlack;
                        }
                    }
                }
            }
        }
    }
    // 6. Footer
    footer {
        height: 40vh;
        padding: 0px 0.5rem;
        background: $lightBlue;
        display: flex;
        position: relative;

        .footer-border {
            position: absolute;
            top: 0;
            left: 0;
            height: 2vh;
            width: 100%;
            background: $mainBlue;
        }
        .about-owner {
            flex: 1;
            display: flex;
            justify-content: flex-end;

            .footer-logo-container {
                display: none;
            }

            ul {
                flex: 1;
                margin: 6vh 3vw 0px 0px;
                height: max-content;

                li {
                    font-size: 0.8rem;
                    padding: 5px;
                    list-style: none;
                }

                li.underline {
                    border-bottom: 1px solid black;
                }

            }
        }

        .footer-navigation {
            flex: 1;
            display: flex;
            flex-direction: column;

            .creator-contact {
                flex: 0.5;
                display: flex;
                justify-self: flex-end;
                align-items: flex-end;
                justify-content: flex-end;

                .contact-text {
                    margin: 0.2rem 0.2rem 0.1rem 0.5rem;

                    p {
                        font-size: 0.8rem;
                        font-weight: normal;
                    }

                    a {
                        font-size: 0.8rem;
                        cursor: pointer;
                    }
                }
            }

            .back-to-links-container {
                flex: 1.5;
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
                width: auto;

                h3 {
                    height: 100%;
                    flex: 0.8;
                    margin-top: 4vh;
                    text-align: start;
                    font-size: 1rem;
                    padding: 0px;
                }

                ul.back-to-links {
                    flex: 1.2;
                    width: 40%;
                    height: 100%;
                    margin-top: 0.7vh;
                    margin-left: 0.2rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    justify-self: flex-end;
        
                    li {
                        position: relative;
                        width: max-content;
                        list-style: none;
                        
                        a {
                            text-decoration: none;
                            color: black;
                            font-weight: bolder;
                            padding-bottom: 10px;
                            font-size: 0.9rem;
                        }
        
                        a::after {
                            content: "";
                            background: black;
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            height: 0.2rem;
                            width: 100%;
                            opacity: 0;
                            transform: translateX(-50%);
                            transition:250ms ease-in;
                        }
        
                        a:hover::after {
                            content: "";
                            background: black;
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            height: 0.2rem;
                            width: 100%;
                            opacity: 1;
                            transform: translateX(0%);
                        }
                    }
                }
    
                .back-to-links:hover {
                    cursor: pointer;
                }
        
                .back-to-links:hover::after{
                    opacity: 0;
                }
            }
        }


    }
}

@media only screen and (min-width: 1024px) {
    main {
        padding-top: 8vh;

        section#main-page {
            height: 92vh;

            .hero {
                height: 100%;

                .main-picture-container {
                    height: 65%;
                    width: 100%;
                    background-repeat: no-repeat;
                    background-size: 100vw 100%;
                }

                .left-sticker-container {
                    width: 45%;

                    .sticker-text {
                        @include flexCenter();

                        h1 {
                            font-size: 4rem;
                            text-shadow: 1px 1px black;
                            -webkit-text-stroke: 0.5px black;
                            padding: 1rem;
                        }

                        h2 {
                            font-size: 2.5rem;
                            text-shadow: 1px 1px black;
                            -webkit-text-stroke: 0.5px black;
                            padding: 1rem;
                        }
                    }

                    button.hero-button {
                        height: 4rem;
                        width: 17rem;
                        padding: 1rem;

                        h3 {
                            font-size: 2rem;
                        }
                    }
                }

                .hero-services-container {
                    height: 30%;

                    .border-effect-polygon {
                        height: 80%;
                        width: 80%;
                        margin: 1.5rem auto auto;


                        p {
                            font-size: 1.2rem;
                        }

                        .offer-overlay-polygon {
                            top: -1.3rem;

                            h1 {
                                font-size: 2.2rem;
                            }
                        }

                        .border-button-polygon {
                            height: 3.5rem;
                            padding: 0px 5rem;
                            width: max-content;
                            bottom: -2rem;

                            a.services-button {
                                font-size: 2rem;

                            }
                        }
                    }
                }
            }
        }

        section#services-section-one {
            height: 90vh;
            @include flexColumn(center);

            .offered-services {

                .service-ilustration-images {
                    @include flexCenter();

                    .faded-image-container {
                        width: 80%;
                        height: 15vh;

                    }
                }
            }
        }

        footer {
            height: 40vh;

            .footer-border {
                height: 2vh;
            }
    
            .about-owner {
    
                .footer-logo-container {
                    display: none;
                }
    
                ul {
    
                    li {
                        font-size: 0.8rem;
                    }
                }
            }
    
            .footer-navigation {
    
                .creator-contact {
                    flex: 0.5;

                    .contact-text {

                        p {
                            font-size: 0.8rem;
                        }
                        a {
                            font-size: 0.8rem;
                        }
                    }
                }
    
                .back-to-links-container {
                    justify-content: flex-start;
                    width: auto;
                    flex: 1.5;

                    h3 {
                        flex: 0.8;
                        font-size: 1rem;
                        margin: 6vh 2px;
                        text-align: start;
                    }
    
                    ul.back-to-links {
                        flex: 1.2;
                        width: 40%;
                        justify-self: flex-end;
                        li {
                            
                            a {
                                font-size: 0.9rem;
                            }
                        }
                    }
                }
            }
        }
    }
}


