    <!-- Navbar PC start -->
    <nav class="pc-nav">
        <div class="navbar-logo">
            <div class="logo-over-polygon">
            </div>
            <div class="logo-border-polygon">
            </div>
            <div class="logo-text">
                <h1>T.D.</h1>
                <h2>Měření a Regulace</h2>
            </div>
            
        </div>
        <ul class="links">
            <li class="home-link"><a href="#">Domů</a></li>
            <li class="services-link"><a href="#">Služby</a></li>
            <li class="prices-link"><a href="#">Ceník</a></li>
            <li class="contact-link"><a href="#">Kontakt</a></li>
        </ul>
        </nav>
    <!-- Navbar end -->

    <!-- Navbar section mobile start -->
    
    <nav class="mobile-nav">
        <div class="navbar-logo">
            <div class="logo-over-polygon">
            </div>
            <div class="logo-border-polygon">
            </div>
            <div class="logo-text">
                <h1>T.D.</h1>
                <h2>Měření a Regulace</h2>
            </div>
        </div>

        <div class="burger-menu-container">
            <!-- Burger -->
            <div class="navbar-toggle" id="mobile-menu">
                <span class="bar" id="top"></span>
                <span class="bar" id="mid"></span>
                <span class="bar" id="bot"></span>
            </div>
        </div>
        <div class="mobile-nav-links">
            <ul class="links">
                <li class="home-link"><a href="#">Domů</a></li>
                <li class="services-link"><a href="#">Služby</a></li>
                <li class="prices-link"><a href="#">Ceník</a></li>
                <li class="contact-link"><a href="#">Kontakt</a></li>
            </ul>
        </div>
        <div class="background-navbar-blur"></div>
    </nav>

    <!-- Navbar section mobile end-->