<footer>
    <div class="footer-border"></div>
    <div class="about-owner">
        <div class="footer-logo-container">
            <img src="" alt="">
        </div>
        <ul>
            <li class="underline">Ing. Tomáš Dolejší</li>
            <li>Email: tomas.dolejsi@email.com</li>
            <li>Tel: +420 606 625 731</li>
            <li>WhatsApp: +420 606 625 731</li>
        </ul>
    </div>
    <div class="footer-navigation">
        <div class="back-to-links-container">
            <h3>Zpět na:</h3>

            <ul class="back-to-links">
                <li class="back-main-page"><a href="#">Hlavní stránku</a></li>
                <li class="back-services"><a href="#">Služby</a></li>
                <li class="back-prices"><a href="#">Ceník</a></li>
                <li class="back-contact"><a href="#">Kontakt</a></li>
            </ul>
        </div>

        <div class="creator-contact">
            <div class="contact-text">
                <p>Tvorba webových stránek od: Kryštof</p>
                <a>KrystofWeby.cz</a>
            </div>
        </div>
    </div>
</footer>