<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <title>Ing. Tomáš Dolejší</title>
</head>
<body>
    <!-- Navbar PC start -->
    <nav class="pc-nav">
        <div class="navbar-logo">
            <div class="logo-over-polygon">
            </div>
            <div class="logo-border-polygon">
            </div>
            <div class="logo-text">
                <h1>T.D.</h1>
                <h2>Měření a Regulace</h2>
            </div>
            
        </div>
        <ul class="links">
            <li class="home-link"><a href="#">Domů</a></li>
            <li class="services-link"><a href="#">Služby</a></li>
            <li class="prices-link"><a href="#">Ceník</a></li>
            <li class="contact-link"><a href="#">Kontakt</a></li>
        </ul>
        </nav>
    <!-- Navbar end -->

    <!-- Navbar section mobile start -->
    
    <nav class="mobile-nav">
        <div class="navbar-logo">
            <div class="logo-over-polygon">
            </div>
            <div class="logo-border-polygon">
            </div>
            <div class="logo-text">
                <h1>T.D.</h1>
                <h2>Měření a Regulace</h2>
            </div>
        </div>

        <div class="burger-menu-container">
            <!-- Burger -->
            <div class="navbar-toggle" id="mobile-menu">
                <span class="bar" id="top"></span>
                <span class="bar" id="mid"></span>
                <span class="bar" id="bot"></span>
            </div>
        </div>
        <div class="mobile-nav-links">
            <ul class="links">
                <li class="home-link"><a href="#">Domů</a></li>
                <li class="services-link"><a href="#">Služby</a></li>
                <li class="prices-link"><a href="#">Ceník</a></li>
                <li class="contact-link"><a href="#">Kontakt</a></li>
            </ul>
        </div>
        <div class="background-navbar-blur"></div>
    </nav>

    <!-- Navbar section mobile end-->

    <main>
        <section id="main-page">
            <div class="hero">
                <div class="main-picture-container">
                    <div class="left-sticker-container">
                        <div class="sticker-text">
                            <h1>Ing. Tomáš Dolejší</h1>
                            <h2>Projektant MaR</h2>
                        </div>
                        <button class="hero-button">
                            <h3>Kontaktujte Mě </h3>
                        </button>
                    </div>
                </div>

                <div class="hero-services-container">
                    <div class="border-effect-polygon">
                        <div class="offer-overlay-polygon">
                            <h1>Co mohu nabídnout</h1>
                        </div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus aliquam 
                            quas quo iste dicta, dolores ducimus nisi sint quam dolorem velit vel, 
                            blanditiis voluptatem quidem quos explicabo! Sed, perferendis! 
                            In nam dolores laudantium iste at ullam sit debitis aut animi repellat? 
                            Id a nisi dicta!
                        </p>
                        <div class="border-button-polygon">
                            <a href="#" class="services-button">Zjistit Více</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section  id="services-section">
            <div class="offered-services">
                <h1 class="fade-in">Nabízené služby</h1>
                <p class="fade-in">Vytvářím kompletní řešení systémů měření a regulace. Pokrývám vše od
                    úvodní analýzy objektu po vyhotovení samotného funčního návrhu pro danou stavbu.
                    <span>Společně s externí firmou pak provádím a dozoruji realizaci tohoto systému dle přání
                        zákazníka.
                    </span>
                </p>
                <h2 class="fade-in">K těmto činnostem patří zejména:</h2>
                <ul class="fade-in">
                    <div class="list-items">
                        <img src="./static/images/Bolt_noBG.svg" alt="" height="25px" width="25px">
                        <li>Schéma návaznosti systémů MaR</li>
                    </div>
    
                    <div class="list-items">
                        <img src="./static/images/Bolt_noBG.svg" alt=""  height="25px" width="25px">
                        <li>Výkres funkčního propojení systému</li>
                    </div>
    
                    <div class="list-items">
                        <img src="./static/images/Bolt_noBG.svg" alt=""  height="25px" width="25px">
                        <li>Popis jednotlivých komponent vč. nároků</li>
                    </div>

                    <div class="list-items">
                        <img src="./static/images/Bolt_noBG.svg" alt=""  height="25px" width="25px">
                        <li>Logické uspořádání a propojení dílčích celků systému</li>
                    </div>
                </ul>

                <div class="service-ilustration-images">
                    <div class="faded-image-container">
                        <img src="/static/images/schema_mar_02.jpg" alt="">
                    </div>
                    <p class="fade-in">Třeba takto vypadá vyhotovený nákres systému měření a regulace pro
                        obytnou budovu.
                    </p>
                </div>

                <h3 class="fade-in">Co je to systém MaR?</h3>

                <p class="fade-in">Systém měření a regulace zajišťuje komfortní a energeticky úsporný
                    provoz budovy. Patří sem zejména <b>řízení tepla, průtoků vody, vzduchotechniky a klimatizace</b>
                    atp. 
                    <span>Kvalitní a dobře zpracovaný systém měření a regulace tedy dokáže zajistit <b>optimální
                        a maximálně hospodárnou soustavu</b> pro výdaje energie v budově. Investovat do takového systému se
                        vyplatí zejména z dlouhodobého hlediska.</span>
                    <span>Nespornou výhodou nejnovějších systémů pak je <b>možnost regulace na dálku prostřednictvím
                        chytrých aplikací</b>, díky kterým máte všechny potřebné informace neustále po ruce ve svém
                        mobilním zařízení.
                    </span>
                </p>
                
                <div class="service-ilustration-images">
                    <div class="faded-image-container">
                        <img src="/static/images/MaR.jpg" alt="">
                    </div>
                </div>
                <p class="fade-in"><span>Takto může vypadat jeden z možných ovladačů pro regulaci tepla v budově</span></p>
                <h4>Mezi hlavní výhody moderního systému MaR patří:</h4>
                <ul class="fade-in" id="advantages-list">
                    <div class="list-items">
                        <img src="./static/images/Bolt_noBG.svg" alt=""  height="25px" width="25px">
                        <li>Možnost pečlivého rozplánování měřících a regulačních procesů. Zvolte si svůj
                            plán výdajů a sledujte kroky potřebné k jeho plnění!
                        </li>
                    </div>
                    <div class="list-items">
                        <img src="./static/images/Bolt_noBG.svg" alt=""  height="25px" width="25px">
                        <li>Přesný a aktuální přehled výdajů tepla, průtoků a maximální úspornost. Díky chytrému
                            sledování ani koruna za energie na víc!
                        </li>
                    </div>
                    <div class="list-items">
                        <img src="./static/images/Bolt_noBG.svg" alt=""  height="25px" width="25px">
                        <li>Možnost ovládání procesů přes chytrá zařízení na dálku. vyhřátá chata
                            ještě před příjezdem? Žádný problém pomocí pár kliknutí!
                        </li>
                    </div>
                    <div class="list-items">
                        <img src="./static/images/Bolt_noBG.svg" alt=""  height="25px" width="25px">
                        <li>Volba automatických sledování a regulace teploty v pokoji. Nastavte požadovanou
                            teplotu a systém bude sám přítápět dle Vašeho přání!
                        </li>
                    </div>
                </ul>
            </div>

        </section>

        <section  id="prices">
            <h2 class="fade-in">Ceník</h2>
            <table>
                <p class="fade-in">Cena jednotlivých návrhů a realizací se vždy liší v závilosti na rozsahu požadovaného systému.
                    Není proto možné vždy předem určit pevnou cenu. Pro zjištění odhadované ceny mě neváhejte
                    nezávazně kontaktovat.
                    <span>Orientační ceny dle běžně prováděných návrhů a realizací je možné vyčíst z tabulky níže.
                        Avšak přesnou konečnou cenu je možné stanovit až na základě domluvy.
                    </span>
                </p>
                <tr class="fade-in">
                    <th>Druh práce</th>
                    <th class="price">Cena</th>
                </tr>
                <tr class="fade-in">
                    <td>Nový projekt v novostavbě</td>
                    <td class="price">3000 kč</td>
                </tr>
                <tr class="fade-in">
                    <td>Nový projekt při rekonstrukci</td>
                    <td class="price">5000 kč</td>
                </tr>
                <tr class="fade-in">
                    <td>Stavební dozor projektu</td>
                    <td class="price">400 kč/hod</td>
                </tr>
                <tr class="fade-in">
                    <td>Revize systému</td>
                    <td class="price">700 kč</td>
                </tr>
                <tr class="fade-in">
                    <td>Instalace a zapojení systému</td>
                    <td class="price">1000 kč</td>
                </tr>
                <tr class="fade-in">
                    <td>Servisní služby</td>
                    <td class="price">300 kč/hod</td>
                </tr>
            </table>


        </section>

        <section  id="contact-section">
            <div class="contact-layout">
                <div class="contact-intro">
                    <h1 class="fade-in">Kontakt</h1>
                    <p class="fade-in">Kontaktovat mě můžeme prostřednictvím <b>formuláře níže</b>, <b>emailem</b>, nebo <b>mobilním telefonem</b>.
                        <span>Na mobilním telefonu mě můžete zastihnout <b>každý všední den od 8:00 do 18:00</b>.</span>
                        <span>V případě, že na mobilu nebudu zrovna dostupný můžete psát také SMS.</span>
                        <span><b>Tel: +420 606 625 737</b></span>
                    </p>
                </div>

                <div class="contact-form-container">
                    <form method="POST" action="">
                        {{ form.hidden_tag() }}
    
                        <fieldset>
                                <div class="form-group">
                                    {{ form.name.label(class="form-field-label") }}
                                    {{ form.name(class="small-form-field") }}
                                </div>
    
                                <div class="form-group">
                                    {{ form.email.label(class="form-field-label") }}
                                    {{ form.email(class="small-form-field") }}
                                </div>
    
                                <div class="form-group">
                                    {{ form.text.label(class="form-field-label") }}
                                    {{ form.text(class="big-form-field") }}
                                </div>
    
                                <button><input class="btn" type="submit" value="Odeslat"></button>
                        </fieldset>
                    </form>
                </div>

                <div class="contact-details-container">
                    <div class="img-container">
                        <img src="/static/images/Man_drawing.png" alt="">
                    </div>
                    <div class="contact-details">
                        <p class="underline">Ing. Tomáš Dolejší</p>
                        <p class="fade-in">Tel: +420 606 625 737 | Po - Pá 8:00 - 18:00</p>
                        <p class="fade-in">WhatsApp: +420 606 625 731</p>
                        <p class="fade-in">Email: tomas.dolejsi@email.cz</p>
                    </div>
                </div>
            </div>
        </section>
        <footer>
            <div class="footer-border"></div>
            <div class="about-owner">
                <div class="footer-logo-container">
                    <img src="" alt="">
                </div>
                <ul>
                    <li class="underline">Ing. Tomáš Dolejší</li>
                    <li>Email: tomas.dolejsi@email.com</li>
                    <li>Tel: +420 606 625 731</li>
                    <li>WhatsApp: +420 606 625 731</li>
                </ul>
            </div>
            <div class="footer-navigation">
                <div class="back-to-links-container">
                    <h3>Zpět na:</h3>

                    <ul class="back-to-links">
                        <li class="back-main-page"><a href="#">Hlavní stránku</a></li>
                        <li class="back-services"><a href="#">Služby</a></li>
                        <li class="back-prices"><a href="#">Ceník</a></li>
                        <li class="back-contact"><a href="#">Kontakt</a></li>
                    </ul>
                </div>

                <div class="creator-contact">
                    <div class="contact-text">
                        <p>Tvorba webových stránek od: Kryštof</p>
                        <a>KrystofWeby.cz</a>
                    </div>
                </div>
            </div>
        </footer>
    </main>

    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>